/*
* === PALETA DE COLORES GRAL ===
*/

:root {
    --gris-1 : #363636;
    --gris-2 : #666666;
    --gris-3 : #797979;
    --gris-4 : #CECECE;
    --gris-5 : #E9E9E9;
    --gris-6 : #F6F6F6;

    --generic-width: 98%;
    --generic-font: "Roboto";
    --genetic-font-size : 12px;
}

.forecast-page-spinner{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.forecast-page-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.standar-spliter{
    width: 95%;
    height: 10px;
    border-bottom: 1px var(--gris-5) solid;
}

.table-container-action-button{
    display: flex; 
    justify-content:center;
    align-items:center;
    flex-direction: column
}
