/*
* === PALETA DE COLORES GRAL ===
*/

:root {

    --generic-width: 98%;
    --generic-font: "Roboto";
    --genetic-font-size : 12px;
}

.forecast-page-spinner{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.forecast-page-wrapper{
    background-image:url(../../images/Depositphotos_324676878_S.jpg);
    background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.forecast-table-wrapper{
    width:60%;

}

/* .standar-spliter{
    width: 95%;
    height: 10px;
    border-bottom: 1px var(--gris-5) solid;
} */

